.child-modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 24;
  border-radius: 10px;
}

/*? Seccion de los botones */
.child-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
