:root {
  --background-color: #e7ecf4;
}

.layout-content {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--background-color);
  width: 100%;
}

.layout-main {
  width: calc(100% - 20px) !important;
  height: 100%;
  padding: 1rem;
}
