.role-form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100% !important;
}

.role-form-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.role-form-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.role-form-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
