/***********************! CONTENIDO DE LA TABLA*********************************/
/*? Estilos del input de busqueda */
.container-table-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.container-table-search-input {
  width: 360px !important;
  align-self: flex-start;
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
}
.container-table-search-info {
  cursor: pointer;
}

/** Estilos propias del componente de mui - Row de encabezado de la tabla */
.css-yseucu-MuiDataGrid-columnHeaderRow {
  background-color: #3d68a7 !important;
  color: white !important;
}
/** Estilos propias del componente de mui - Row de encabezado de la tabla */
.MuiDataGrid-filler {
  display: none !important;
}

.container-table-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.container-table-buttons-left,
.container-table-buttons-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
