:root {
  --topbar-background-color: #3D68A7;
}

.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  width: 100%;
  background-color: var(--topbar-background-color);
  color: #fff;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
}
.topbar-left-logo {
  width: 30px;
  height: 30px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar-right-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar-right-list-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  cursor: pointer;
  color: #fff !important;
}

/*Estilos para el drawer de notificaciones*/
.notification-drawer {
  position: fixed;
  top: 50px; /* debajo del topbar */
  right: 0;
  width: 300px;
  height: calc(100% - 50px);
  background-color: #fff;
  border-left: 1px solid #ccc;
  z-index: 1300;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out !important;
  overflow-y: auto;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
}

.notification-drawer.open {
  transform: translateX(0%);
}

