.users-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.users-container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.users-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0.5rem;
}

.users-container-table {
  width: 75%;
  min-height: 300px;
  max-height: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
