* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(70, 73, 73) !important;
  color: white !important;
}
header {
  background-color: #fff;
  color: #0e215e;
}
.app-title {
  cursor: pointer;
  text-decoration: none !important;
  color: #000;
}
nav {
  display: flex;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.app-nav-item {
  color: #0e215e !important;
  text-decoration: none !important;
  padding: 10px;
  cursor: pointer;
}
.app-nav-item:hover {
  background-color: #0e215e;
  color: white !important;
}
.md-button {
  --md-sys-color-primary: #ff5733; /* Cambia el color del botón */
  --md-sys-color-on-primary: #fff; /* Cambia el color del texto */
  --md-sys-shape-corner-full: 12px; /* Redondeo de esquinas */
  font-family: sans-serif;
  width: 4rem;
}

/*Estilos de post*/
.post-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  max-width: 1300px !important;
}
.post-section-posts {
  padding: 0px !important;
}
