<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
  </head>
  <body>
    <h1>Bienvenido a contactos</h1>
    <a href="/">Volver</a>
    <section>
      <h1>Datos de prueba para traer info del servidor</h1>
      <button type="button" id="getPeliculas" class="btn btn-primary">Traer pelis</button>
      <div id="peliculas">
        <label for="id">Id:</label>
        <p id="id"></p>
        <label for="title">Nombre:</label>
        <p id="title"></p>
        <label for="year">Year:</label>
        <p id="year"></p>
        <label for="listPeliculas">Lista de Peliculas:</label>
        <p id="listPeliculas"></p>
      </div>
    </section>
  </body>
</html>
