<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!--Encabezado-->
    <header>
      <a href="/" style="text-decoration: none"><h1 class="app-title">SPA</h1></a>
      <!--navegacion-->
      <nav class="app-nav">
        <ul>
          <li>
            <a href="/" class="app-nav-item">Home</a>
          </li>
          <li>
            <a href="#/post" class="app-nav-item">Post</a>
          </li>
          <li>
            <a href="#/contacto" class="app-nav-item">Contacto</a>
          </li>
          <li>
            <a href="#/test-elementos" class="app-nav-item">Testeo</a>
          </li>
          <li>
            <a href="#/xd" class="app-nav-item">Ruta sin asignar</a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>Bievenido al inicio</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci atque accusantium dolorum iure nulla facilis
      tempora similique deleniti obcaecati omnis, dicta excepturi ducimus! Vitae neque quaerat saepe? Beatae, harum
      expedita.
    </p>
    <md-filled-button id="md-button" class="md-button">Next</md-filled-button>
    <button id="btn-home" class="btn btn-primary">click me</button>
    <form action="submit" id="form">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="Correo" />
      <label for="password">Contraseña</label>
      <input type="password" name="password" id="password" placeholder="Contrseña" />
      <button type="submit">Ingresar</button>
    </form>
  </body>
</html>
