<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
  </head>
  <body>
    <div class="post-container">
      <h1>Peticiones con jsonplaceholder</h1>
      <a href="#/contacto" style="text-decoration: none; color: white">Ir a Contacto (Prueba)</a>
      <section class="post-section-posts">
        <h5>Total de publicaciones: <span id="total-post"></span></h5>
        <ul
          id="list-posts"
          style="display: flex; flex-direction: column; width: auto; list-style-type: none; padding: 0px"
        ></ul>
      </section>
    </div>
  </body>
</html>
